/* Corps de la page */
body{
	background-color: #FCFAE1;
	font-family:Georgia, serif;
	margin: 0px;
	margin-top: 11.25%;
	margin-bottom: 65px;
}

/* Tête de la page */

header{
	position:fixed;
	top: 0%;
	border-bottom: 2px solid white;
	width:100%;
	background-color:#354458;
	overflow: hidden;
}
h1{
	margin:1.5%;
	font-size: 200%;
	color:white;
}

/* Menu */
#menu{
	float: left;
}

#menu>ul{
	position:fixed;
	padding:0%;
	margin: 0%;
	width:100%;
}

#menu>ul>li>button{
	color:white;
	float:left;
	position:relative;
	text-align:center;
	list-style-type:none;
	padding: 1%;
	font-size: %;
	width: 20%;	background-color: #3B3A35;
}

/* Contenu de la page */
.my-menus{
	top: 0%;
	margin-left:5%;
	margin-right: 5%;
	border-radius: 25px;
	text-align:justify;
	padding:3%;
	border:5px solid #354458;
	overflow: hidden;
}

.my-comp{
	float: left;
}

h2{
	font-size: 150%;
}

progress{
	float: right;
}

.puces{
	list-style-type: none;
}
/* photo du cv*/
#photo_cv{
	width:155px;
	height:198px;
}
/* image de projet*/
#project{
	width: 40%;
	height: 40%;
}
/* pied de page */
footer{
	position:fixed;
	bottom:0;
	line-height:normal;
	width:100%;
	height:55px;
	text-align:center;
	color:white;
	border-top:2px solid white;
	background-color:#354458;
	padding-top:0.5%;
	padding-bottom:0%;

}
